*{
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
}

body {
}
/* Header*/
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #c7c7c7;
    height:10%;
}

.logo-group{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo-group img{
    height: 40px;
    margin-right: 3px;
}

.name-logo p{
    border-color: #07556d;
}

.name-logo b{
    background: #07556d;
    padding-right: 5px;
    color:white;
}

.bar-nav{
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    width:max-content
}

.nav-list li{
    margin: 10px;
}

/*HERO*/

.hero{
    display: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.hero-image-background img{
    width: 100%;
    opacity: 30%;
    object-fit: cover;
    display:block;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50px;
}